body {
  background-color: black;
  color: white;
  text-align: center;
}

.board-container {
  margin: auto;
}

.cell {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}

.pop-up {
  display: none;

}

.Vpop-up {
  display: none;

}


.bck-color {
  background-color: red;
}